1 kilometre equals 0.62137 miles.  
Miles = kilometre * 0.62137  
And,  
Kilometre = Miles / 0.62137

In [8]:
Value_km = int(input("Enter the value in km:"))
Value_miles = Value_km * 0.62137
print("Value in Miles:",Value_miles)

Enter the value in km:5
Value in Miles: 3.1068499999999997

In [10]:
Value_miles = int(input("Enter Value in miles:"))
value_km = Value_miles / 0.62137
print("Values in kilometers:",value_km,"km")

Enter Value in miles:5
Values in kilometers: 8.046735439432222 km